/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(0, 85%, 50%);
    --clr-primary-2: hsl(0, 85%, 45%);
    --clr-primary-3: hsl(0, 85%, 40%);
    --clr-primary-4: hsl(0, 85%, 35%);
    /* primary/main color */
    --clr-primary-5: hsl(0, 85%, 30%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(0, 85%, 25%);
    --clr-primary-7: hsl(0, 85%, 20%);
    --clr-primary-8: hsl(0, 85%, 15%);
    --clr-primary-9: hsl(0, 85%, 10%);
    --clr-primary-10: hsl(0, 85%, 5%);
    /* darkest grey - used for headings */
    --clr-grey-1: #102a42;
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  /*
    =============== 
    Global Styles
    ===============
    */
  
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
      url('https://res.cloudinary.com/dsrtdywmf/image/upload/v1699196892/collinsoblog/tmp-1-1699196887387_of0rfk.jpg')
        center/cover;
    width: 100%;
    height: 100%;
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4 {
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-7);
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }
  .img {
    width: 100%;
    display: block;
    object-fit: cover;
  }
  .text-slanted {
    font-family: 'Kaushan Script', cursive;
  }
  .section-center {
    width: 90vw;
    max-width: var(--max-width);
    margin: 0 auto;
  }
  .section {
    padding: 5rem 0;
  }
  .btn {
    background: var(--clr-primary-5);
    color: var(--clr-white);
    border-radius: var(--radius);
    padding: 0.375rem 0.75rem;
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    border-color: transparent;
    cursor: pointer;
  }
  .btn:hover {
    background: black;
    border-radius: 4rem;
    color: white;
  }
  .section-loading {
    text-align: center;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .page-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-grey-10);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
  
  .loading {
    width: 1rem;
    height: 1rem;
    border: 3px solid var(--clr-grey-7);
    border-radius: 50%;
    border-top-color: var(--clr-primary-6);
    animation: spinner 0.6s linear infinite;
  }
  .loading {
    margin: 0 auto;
  }
  
  /*
  =============== 
  Start
  ===============
  */
  
.user, .pass {
    position: relative;
  }

  .reg {
    color: white;
  }
  .reg a {
    color:yellow;
  }
 

  .form-title p {
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: var(--spacing);
    color: white;
  }

  .form-input {
    width: 100%;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    background: #b6b8b9;
    transition: var(--transition);
  }
  
  .form-input:focus {
    outline: none;
    border-radius: 1rem;
  }
  
  
.form-control {
    position: relative;
    box-shadow: var(--dark-shadow);
    padding: 2rem 2rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.2)
  }
  
  .pass-icon, .user-icon {
    cursor: pointer;
    color: black;
    position: absolute;
    right: 12px;
    top: 14px;
  }
  .top-header {
    background: var(--clr-black);
    color: var(--clr-grey-10);
    font-family: 'Courier New', Courier, monospace;
  }
  
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    z-index: 100;
  }
  
  .time,
  .info {
    display: flex;
  }
  .info a li {
    color: var(--clr-grey-10);
  }
  
  .info li {
    margin-right: 1rem;
    transition: var(--transition);
  }
  
  .info li:hover {
    color: yellow;
  }
  
  .time li {
    margin-left: 1rem;
    font-weight: 700;
    color: yellow;
    animation: change 2s linear infinite;
  }
  
  @keyframes change {
    0% {
      color: yellow;
      opacity: 0.2;
    }
    100% {
      color: yellow;
      opacity: 1;
    }
  }
  
  .mobile {
    display: block;
  }
  
  .bars {
    font-size: 1.5rem;
    cursor: pointer
  }
  
  .logo {
    width: 15rem;
    margin-left: -2rem;
  }
  .mobile-view {
    display: flex;
    background: rgba(255, 255, 255, 0.938);
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin: 2rem auto;
    margin-bottom: 2rem;
    height: 4rem;
  }
  
  .desk {
    background: rgba(238, 11, 11, 0.3);
    display: none;
    transition: var(--transition);
  }
  
  .menu {
    text-align: center;
  }
  
  .menu li {
    border-bottom: 2px solid white;
    padding: 1rem 0;
    transition: var(--transition);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .menu a {
    color: var(--clr-grey-10);
  }
  
  .menu a li:hover {
    background: var(--clr-grey-10);
    color: black;
  }
  
  
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .socials li {
    padding: 0.5rem 0.5rem;
  }
  
  .socials span {
    font-size: 1.2rem;
  }
  
  .socials a span {
    color: white;
  }
  @media screen and (min-width: 800px) {
    .socials a {
      color: white;
    }
    .mobile-view {
      height: 8rem;
    }
  
    .desk {
      display: flex;
      justify-content: space-around;
      background: rgba(0, 0, 0, 0.7);
    }
  
    .menu {
      display: flex;
      align-items: baseline;
    }
  
    .menu a {
      margin-left: 1rem;
      color: white;
    }
    .menu li {
      padding: 1rem 0.08rem;
      border: none;
      font-weight: 400;
    }
    .news {
      background: black;
      color: white;
    }
    .menu a li:hover {
      color: var(--clr-primary-5);
    }
  
    .bars {
      display: none;
    }
    .input-control {
      display: flex;
      width: 40%;
    }
  
    .form-group {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  
    .mobile-view {
      display: block;
      background: none;
      padding: 0;
    }
  
    .logo {
      margin: 0 auto;
      text-align: center;
      width: 20rem;
    }
    .other {
      background: rgba(250, 248, 248, 0.7);
    }
  
    .mobile {
      padding: 0;
    }
  }
 
    .banner-section {
        width: 90vw;
        max-width: var(--max-width);
        margin: 0 auto;
        background: var(--clr-grey-3);
        padding: 3rem 2rem;
        padding-bottom: 0.05rem;
        margin-bottom: 2rem;
       
      }
  
  .banner-center {
    background: rgba(138, 12, 12, 0.7);
    padding: 5rem 1rem;
   display: block;
   text-align: center;
   margin-bottom: 5rem;
   margin-top: 3rem;
  }

  .banner-center a {
    color: var(--clr-grey-7);
    text-align: left;
    margin-bottom: 2rem;
  }
  
  .banner-center p {
    animation: slanty 10s linear 1;
    color: var(--clr-grey-8);
  }
  
  .banner-center h3 {
    color: white;
    
  }
  
  .banner-btn {
    background: black;
    width: 50%;
    text-align: center;
  }
  
  
  .banner-center h3,
  p {
    max-width: 100%;
    max-width: 50rem;
   margin: 0 auto;
  }
  
  
  .form-group2 {
    display: block;
    width: 90vw;
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0 2rem;
  }
  .form-control {
    width: 100%;
    border: none;
    padding: 0.7rem 1rem;
  }
  
  .sub-btn {
    width: 100%;
    margin-top: 1rem;
  }
  .sub-section {
    width: 90vw;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 3rem 0;
  }
  
  .subscribe-sec {
    background: rgba(68, 63, 63, 0.7);
  }
  
  .footer {
    background: var(--clr-black);
    color: var(--clr-grey-10);
    font-family: 'Courier New', Courier, monospace;
    padding-top: 1rem;
  }
  .footer-center {
    text-align: center;
    margin: 0 auto;
  }
  
  .footer-info {
    display: flex;
    justify-content: center;
  }
  
  .footer-info a li {
    color: var(--clr-grey-10);
  }
  
  .footer-info li {
    margin: 0.9rem 0.6rem;
    transition: var(--transition);
  }
  
  .footer-info li:hover {
    color: yellow;
  }
  
  @keyframes slant {
    0%{
      width:0;
      opacity: 0
    }
    50% {
      width: 5rem;
      opacity: 0.5;
    }
    100% {
      width: 10rem;
      opacity: 1;
    }
  }
  @keyframes slanty {
    
    0%{
      opacity: 0.3
    }
    50%{
      opacity: 0.5
    }
    100% {
      opacity: 1;
    }
  }
  
  
  .home {
    width: 90vw;
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .home a {
    color: white;
    padding-top: 2rem;
  }
  


  .form-control {
    width: 100%;
    border: none;
    background: var(--clr-grey-9);
    
    
  }
  .form {
    max-width: 40rem;
    margin: 2rem auto;
    margin-bottom: 11.4rem;
    text-align: center;

  }

  #sub-input {
    margin: 1rem 0;
  }
  
  .sub-btn {
    width: 100%;
    margin-top: 1rem;
  }
  .close {
    display: none;
  }
  
  
  .show {
    display: block;
  }